## Colab Prep

Execute the following code cells to whenever you open/restart the notebook in Google Colab.

In [ ]:
!pip install "polars[all]"

In [ ]:
!wget https://github.com/WSU-DataScience/dsci_325_module6_basic_data_management_in_python/raw/main/sample_data.zip

In [ ]:
!unzip ./sample_data.zip

# Conditional Expressions

In [1]:
import polars as pl
pl.Config.with_columns_kwargs = True

## Data sets

We will be using two of the data sets provided by the Museam of Modern Art (MoMA) in this lecture.  Make sure that you have downloaded each repository.  [Download Instructions](./get_MOMA_data.ipynb)

#### MoMA Artists

In [2]:
artists = pl.read_csv("./sample_data/Artists.csv")
artists.head(2)

shape: (2, 9)
┌────────────┬───────────┬─────────────┬─────────────┬─────┬───────────┬─────────┬──────────┬──────┐
│ Constituen ┆ DisplayNa ┆ ArtistBio   ┆ Nationality ┆ ... ┆ BeginDate ┆ EndDate ┆ Wiki QID ┆ ULAN │
│ tID        ┆ me        ┆ ---         ┆ ---         ┆     ┆ ---       ┆ ---     ┆ ---      ┆ ---  │
│ ---        ┆ ---       ┆ str         ┆ str         ┆     ┆ i64       ┆ i64     ┆ str      ┆ i64  │
│ i64        ┆ str       ┆             ┆             ┆     ┆           ┆         ┆          ┆      │
╞════════════╪═══════════╪═════════════╪═════════════╪═════╪═══════════╪═════════╪══════════╪══════╡
│ 1          ┆ Robert    ┆ American,   ┆ American    ┆ ... ┆ 1930      ┆ 1992    ┆ null     ┆ null │
│            ┆ Arneson   ┆ 1930–1992   ┆             ┆     ┆           ┆         ┆          ┆      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 2          ┆ Doroteo   ┆ Spanish,    ┆ Spanish     ┆ ... ┆ 1936      ┆ 0       ┆ null     ┆ null │
│            ┆ Arnaiz    ┆ born 1936   ┆             ┆     ┆           ┆         ┆          ┆      │
└────────────┴───────────┴─────────────┴─────────────┴─────┴───────────┴─────────┴──────────┴──────┘

#### MoMA Artwork

In [3]:
artwork = pl.read_csv("./sample_data/Artworks.csv")
artwork.head(2)

shape: (2, 29)
┌──────────┬─────────┬────────────┬─────────┬─────┬───────────┬──────────┬────────────┬────────────┐
│ Title    ┆ Artist  ┆ Constituen ┆ ArtistB ┆ ... ┆ Weight    ┆ Width    ┆ Seat       ┆ Duration   │
│ ---      ┆ ---     ┆ tID        ┆ io      ┆     ┆ (kg)      ┆ (cm)     ┆ Height     ┆ (sec.)     │
│ str      ┆ str     ┆ ---        ┆ ---     ┆     ┆ ---       ┆ ---      ┆ (cm)       ┆ ---        │
│          ┆         ┆ str        ┆ str     ┆     ┆ str       ┆ f64      ┆ ---        ┆ str        │
│          ┆         ┆            ┆         ┆     ┆           ┆          ┆ str        ┆            │
╞══════════╪═════════╪════════════╪═════════╪═════╪═══════════╪══════════╪════════════╪════════════╡
│ Ferdinan ┆ Otto    ┆ 6210       ┆ (Austri ┆ ... ┆ null      ┆ 168.9    ┆ null       ┆ null       │
│ dsbrücke ┆ Wagner  ┆            ┆ an, 184 ┆     ┆           ┆          ┆            ┆            │
│ Project, ┆         ┆            ┆ 1–1918) ┆     ┆           ┆          ┆            ┆            │
│ Vienna.. ┆         ┆            ┆         ┆     ┆           ┆          ┆            ┆            │
│ .        ┆         ┆            ┆         ┆     ┆           ┆          ┆            ┆            │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ City of  ┆ Christi ┆ 7470       ┆ (French ┆ ... ┆ null      ┆ 29.8451  ┆ null       ┆ null       │
│ Music,   ┆ an de   ┆            ┆ , born  ┆     ┆           ┆          ┆            ┆            │
│ National ┆ Portzam ┆            ┆ 1944)   ┆     ┆           ┆          ┆            ┆            │
│ Superior ┆ parc    ┆            ┆         ┆     ┆           ┆          ┆            ┆            │
│ ...      ┆         ┆            ┆         ┆     ┆           ┆          ┆            ┆            │
└──────────┴─────────┴────────────┴─────────┴─────┴───────────┴──────────┴────────────┴────────────┘

## Review - CASE WHEN

Recall that the `CASE WHEN` expression to condition results on some boolean condition(s).

```{SQL}
SELECT CASE 
            WHEN Nationality == 'American'
            THEN 'Yes'
            ELSE 'No'
       END AS American
FROM Artists
```

## Conditional expressions in `polars`

To perform a `CASE WHEN` in `polars` with a single dot-chain by
* Start with `pl.when(...).then(...)`
* Add any number of additional `.when(...).then(...)` to the dot-chain
* Add a `.otherwise(...)` to catch all remaining cases.

### Example

In [4]:
df = pl.DataFrame({'cat':['a','b','b','c','c'],
                   'val':[ 1,  1,  2,  1, 2]})
df

shape: (5, 2)
┌─────┬─────┐
│ cat ┆ val │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ a   ┆ 1   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 1   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 2   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 1   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 2   │
└─────┴─────┘

#### `case_when` with one predicate pair

Unmatched values are `null`

In [5]:
(df
 .with_columns(new = pl.when(pl.col('cat') == 'a')
                       .then(pl.col('val') + 1)
              )
)

shape: (5, 3)
┌─────┬─────┬──────┐
│ cat ┆ val ┆ new  │
│ --- ┆ --- ┆ ---  │
│ str ┆ i64 ┆ i64  │
╞═════╪═════╪══════╡
│ a   ┆ 1   ┆ 2    │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ b   ┆ 1   ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ b   ┆ 2   ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ c   ┆ 1   ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ c   ┆ 2   ┆ null │
└─────┴─────┴──────┘

#### Two WHEN/THEN clauses 

Note that the first matching predicate is applied

In [6]:
(df
 .with_columns(new = pl.when(pl.col('cat') == 'a')
                       .then(pl.col('val') + 1)
                       .when(pl.col('cat') == 'b')
                       .then(pl.col('val') + 10)
               
                       .when(pl.col('cat') == 'c')
                       .then(pl.lit(100))
              )
)

shape: (5, 3)
┌─────┬─────┬─────┐
│ cat ┆ val ┆ new │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ a   ┆ 1   ┆ 2   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 1   ┆ 11  │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 2   ┆ 12  │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 1   ┆ 100 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 2   ┆ 100 │
└─────┴─────┴─────┘

#### Adding an else with `otherwise`

In [7]:
(df
 .with_columns(new = pl.when(pl.col('cat') == 'a')
                       .then(pl.col('val') + 1)
                       .when(pl.col('cat') == 'b')
                       .then(pl.col('val') + 10)
                       .otherwise(pl.col('val'))
              )
)

shape: (5, 3)
┌─────┬─────┬─────┐
│ cat ┆ val ┆ new │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ a   ┆ 1   ┆ 2   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 1   ┆ 11  │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 2   ┆ 12  │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 1   ┆ 1   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 2   ┆ 2   │
└─────┴─────┴─────┘

### Including literal values

Note that
* `polars` is actually implemented in Rust.
* Literal/constant values need to use `pl.lit`.

In [8]:
0 # Python integer

0

In [9]:
pl.lit(0) # Gets converted to Rust/Apache Arrow

In [10]:
pl.lit(0, pl.Int8) # Cast to a specific int type

#### `case_when` with an optional literal value

In [11]:
(df
 .with_columns(new = pl.when(pl.col('cat') == 'a')
                       .then(pl.col('val') + 1)
                       .when(pl.col('cat') == 'b')
                       .then(pl.col('val') + 10)
                       .otherwise(pl.lit(0))
              )
)

shape: (5, 3)
┌─────┬─────┬─────┐
│ cat ┆ val ┆ new │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ a   ┆ 1   ┆ 2   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 1   ┆ 11  │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ b   ┆ 2   ┆ 12  │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 1   ┆ 0   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ c   ┆ 2   ┆ 0   │
└─────┴─────┴─────┘

## <font color="red"> Exercise 6.7.1 </font>

Consider the `Nationality` column `Artist` data.  We would like to an *indicator column* for the American nationality, that is make a new column that that contains `1` if the artist is of American decent and `0` otherwise.

In [12]:
# Your code here

## <font color="red"> Exercise 6.7.2 </font>

Consider the `Nationality` column `exhibition` table.  We would like to make a indicator column that reclassifies this column as `"North American"`, `"European"`, or `"Other"`.  Use `case_when` to accomplish this task.

**Hint.** Lists of relevant nationalities are provided, consider using `is_in` with these lists in your predicates.

In [14]:
all_countries = artists['Nationality'].unique().to_list() 
all_countries # This was used to make the following lists

['Kuwaiti',
 'Cameroonian',
 'British',
 'Namibian',
 'Ecuadorian',
 'Chilean',
 'Finnish',
 'German',
 'Polish',
 'Algerian',
 'Japanese',
 'Azerbaijani',
 'Swedish',
 'Mexican',
 'American',
 'Korean',
 'Icelandic',
 'Scottish',
 'Brazilian',
 'Italian',
 'Luxembourgish',
 'Tunisian',
 'Thai',
 'Afghan',
 'Australian',
 'Costa Rican',
 'Nationality unknown',
 'Cypriot',
 'Iranian',
 'Chinese',
 'Colombian',
 'Egyptian',
 'Catalan',
 'Bangladeshi',
 None,
 'Haitian',
 'Canadian Inuit',
 'Beninese',
 'Cuban',
 'Persian',
 'French',
 'Uruguayan',
 'Paraguayan',
 'Salvadoran',
 'Ethiopian',
 'Czechoslovakian',
 'Ukrainian',
 'Tanzanian',
 'Bosnian',
 'Portuguese',
 'Bahamian',
 'Congolese',
 'Ivorian',
 'Croatian',
 'Nicaraguan',
 'Bolivian',
 'Ghanaian',
 'Cambodian',
 'Danish',
 'Burkinabe',
 'Yugoslav',
 'Greek',
 'Norwegian',
 'Senegalese',
 'Emirati',
 'Romanian',
 'Belgian',
 'Spanish',
 'Malian',
 'Estonian',
 'Taiwanese',
 'Singaporean',
 'Kenyan',
 'Native American',
 'Canadian',
 'Ugandan',
 'Zimbabwean',
 'Argentine',
 'Sudanese',
 'Malaysian',
 'Indian',
 'Turkish',
 'Filipino',
 'Czech',
 'Nigerian',
 'Slovenian',
 'Sierra Leonean',
 'Lebanese',
 'Vietnamese',
 'Sahrawi',
 'Coptic',
 'Lithuanian',
 'Guatemalan',
 'New Zealander',
 'Welsh',
 'Palestinian',
 'Slovak',
 'Irish',
 'Austrian',
 'Russian',
 'South African',
 'Venezuelan',
 'Moroccan',
 'Pakistani',
 'Bulgarian',
 'Panamanian',
 'Swiss',
 'Serbian',
 'Macedonian',
 'Hungarian',
 'Peruvian',
 'Dutch',
 'Albanian',
 'Puerto Rican',
 'Latvian',
 'Kyrgyzstani',
 'Guyanese',
 'Georgian',
 'Israeli']

In [15]:
north_american = ['American',
                  'Canadian',
                  'Moroccan and American',
                  'Canadian Inuit',
                  'Native American',
                  'American and Mexican']

european = ['French', 'Dutch', 'Italian', 'Spanish', 'German',
            'Austrian', 'Finnish', 'Swedish', 'Swiss',
            'British', 'Czech', 'Belgian', 'Russian-Lithuanian', 
            'English', 'Greek', 'Norwegian', 'Latvian', 'Polish', 
            'Milanese', 'Danish', 'Netherlandish', 'Flemish',
            'Scottish', 'Hungarian', 'Yugoslav', 'Catalan', 
            'Florentine', 'Venetian', 'Irish', 'Icelandic', 
            'Slovene', 'Bosnian', 'Croatian', 'Luxembourgish']

In [16]:
# Your code here