<a href="https://colab.research.google.com/github/AKerby/dsci_325_module6_basic_data_management_in_python/blob/main/Python%20Data%20Management%20Part%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Filters

In this section, we will take a closer look at common filtering patterns.  Note that this list is based on the Common Filter Operations section of the [SQL Alchemy tutorial](https://docs.sqlalchemy.org/en/latest/orm/tutorial.html) from the SQL Alchemy documentation, which is copyright © by SQLAlchemy authors and contributors. SQLAlchemy and its documentation are licensed under the MIT license.

In [2]:
import polars as pl
pl.Config.with_columns_kwargs = True

import seaborn as sns
%matplotlib inline

## Common Filter Operators

Most filters consist of the following operations.

* Equals/not equals and other inequalities
* Like/ilike
* In/not in
* Is Null/is not null
* And/or

## How we will proceed

Let's look at how each of the operations is performed in polars.  We need a dataset that is ripe for filtering, so we will return to the super hero data set.  Who doesn't love a super hero?

In [3]:
url = "https://github.com/AKerby/dsci_325_module6_basic_data_management_in_python/raw/main/sample_data/heroes_information.csv"
heroes = (pl.read_csv(url, null_values=['-', '-99.0', ''])
          .rename({'':'ID'})
         )
heroes.head()

shape: (5, 11)
┌─────┬─────────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name        ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---         ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str         ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪═════════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 0   ┆ A-Bomb      ┆ Male   ┆ yellow    ┆ … ┆ Marvel Comics     ┆ null       ┆ good      ┆ 441.0  │
│ 1   ┆ Abe Sapien  ┆ Male   ┆ blue      ┆ … ┆ Dark Horse Comics ┆ blue       ┆ good      ┆ 65.0   │
│ 2   ┆ Abin Sur    ┆ Male   ┆ blue      ┆ … ┆ DC Comics         ┆ red        ┆ good      ┆ 90.0   │
│ 3   ┆ Abomination ┆ Male   ┆ green     ┆ … ┆ Marvel Comics     ┆ null       ┆ bad       ┆ 441.0  │
│ 4   ┆ Abraxas     ┆ Male   ┆ blue      ┆ … ┆ Marvel Comics     ┆ null       ┆ bad       ┆ null   │
└─────┴─────────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

## Common Filter Operators - Equality and Inequality

In all three frameworks, equalities/inequalities are performed using the regular Python operators on column expressions.

#### Check equality using `==`

In [ ]:
(heroes
 .filter(pl.col('Eye color') == 'blue')
 .head(2))

shape: (2, 11)
┌─────┬────────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name       ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---        ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str        ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 1   ┆ Abe Sapien ┆ Male   ┆ blue      ┆ … ┆ Dark Horse Comics ┆ blue       ┆ good      ┆ 65.0   │
│ 2   ┆ Abin Sur   ┆ Male   ┆ blue      ┆ … ┆ DC Comics         ┆ red        ┆ good      ┆ 90.0   │
└─────┴────────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

#### Check not equal using `!=`

In [ ]:
(heroes
 .filter(pl.col('Eye color') != 'blue')
 .head(2))

shape: (2, 11)
┌─────┬─────────────┬────────┬───────────┬───┬───────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name        ┆ Gender ┆ Eye color ┆ … ┆ Publisher     ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---         ┆ ---    ┆ ---       ┆   ┆ ---           ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str         ┆ str    ┆ str       ┆   ┆ str           ┆ str        ┆ str       ┆ f64    │
╞═════╪═════════════╪════════╪═══════════╪═══╪═══════════════╪════════════╪═══════════╪════════╡
│ 0   ┆ A-Bomb      ┆ Male   ┆ yellow    ┆ … ┆ Marvel Comics ┆ null       ┆ good      ┆ 441.0  │
│ 3   ┆ Abomination ┆ Male   ┆ green     ┆ … ┆ Marvel Comics ┆ null       ┆ bad       ┆ 441.0  │
└─────┴─────────────┴────────┴───────────┴───┴───────────────┴────────────┴───────────┴────────┘

#### Other inequalities

In [ ]:
(heroes
 .filter(pl.col('Height') > 200)
 .filter(pl.col('Weight') <= 440)
 .head(2))

shape: (2, 11)
┌─────┬───────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name  ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---   ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str   ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪═══════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 17  ┆ Alien ┆ Male   ┆ null      ┆ … ┆ Dark Horse Comics ┆ black      ┆ bad       ┆ 169.0  │
│ 19  ┆ Amazo ┆ Male   ┆ red       ┆ … ┆ DC Comics         ┆ null       ┆ bad       ┆ 173.0  │
└─────┴───────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

## Reminder - Referencing Constructed Column

Recall that we can also reference newly constructed columns by using `pl.col('name')`.

In [ ]:
(heroes
 .with_columns(Weight_kg = pl.col('Weight')/2.2046)
 .filter(pl.col('Weight_kg') <= 200)
 .head(2))

shape: (2, 12)
┌─────┬────────────┬────────┬───────────┬───┬────────────┬───────────┬────────┬───────────┐
│ ID  ┆ name       ┆ Gender ┆ Eye color ┆ … ┆ Skin color ┆ Alignment ┆ Weight ┆ Weight_kg │
│ --- ┆ ---        ┆ ---    ┆ ---       ┆   ┆ ---        ┆ ---       ┆ ---    ┆ ---       │
│ i64 ┆ str        ┆ str    ┆ str       ┆   ┆ str        ┆ str       ┆ f64    ┆ f64       │
╞═════╪════════════╪════════╪═══════════╪═══╪════════════╪═══════════╪════════╪═══════════╡
│ 1   ┆ Abe Sapien ┆ Male   ┆ blue      ┆ … ┆ blue       ┆ good      ┆ 65.0   ┆ 29.483807 │
│ 2   ┆ Abin Sur   ┆ Male   ┆ blue      ┆ … ┆ red        ┆ good      ┆ 90.0   ┆ 40.823732 │
└─────┴────────────┴────────┴───────────┴───┴────────────┴───────────┴────────┴───────────┘

## <font color="red"> Exercise 6.4.1 - The Super Hero Dating Game - Part 1</font>

Yesterday, you notice a singles add in the local paper that reads

> SWF looking for BESHM (blue-eyed super hero).  Must be tall (70+ inches).  Only interested in bad boys! Must list height (in inches) in reply!

Write a query in each framework to help find candidates for this personal add.

In [ ]:
# Your solution here

## Common Filter Operations -  LIKE and ILIKE

`LIKE` and `ILIKE` are both SQL idioms that

* is used to match string patterns
* Uses the `%` wildcard
    * like `*` in a regular expression
* `LIKE` is case-sensitive
* `ILIKE` is case-insensitive
    * Actual details are platform dependent

### `polars` lacks `LIKE`/`ILIKE`

Instead we use

* `str.starts_with`
* `str.ends_with`
* `str.contains`

#### `LIKE 'Super%'`

In [ ]:
(heroes
 .filter(pl.col('name').str.starts_with('Super'))
 .head(2))

shape: (2, 11)
┌─────┬────────────────┬────────┬───────────┬───┬───────────┬────────────┬───────────┬────────┐
│ ID  ┆ name           ┆ Gender ┆ Eye color ┆ … ┆ Publisher ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---            ┆ ---    ┆ ---       ┆   ┆ ---       ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str            ┆ str    ┆ str       ┆   ┆ str       ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════════╪════════╪═══════════╪═══╪═══════════╪════════════╪═══════════╪════════╡
│ 643 ┆ Superboy       ┆ Male   ┆ blue      ┆ … ┆ DC Comics ┆ null       ┆ good      ┆ 68.0   │
│ 644 ┆ Superboy-Prime ┆ Male   ┆ blue      ┆ … ┆ DC Comics ┆ null       ┆ bad       ┆ 77.0   │
└─────┴────────────────┴────────┴───────────┴───┴───────────┴────────────┴───────────┴────────┘

#### `LIKE '%boy'`

In [ ]:
(heroes
 .filter(pl.col('name').str.ends_with('boy'))
 .head(2))

shape: (2, 11)
┌─────┬───────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name      ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---       ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str       ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪═══════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 142 ┆ Bumbleboy ┆ Male   ┆ null      ┆ … ┆ Marvel Comics     ┆ null       ┆ good      ┆ null   │
│ 321 ┆ Hellboy   ┆ Male   ┆ gold      ┆ … ┆ Dark Horse Comics ┆ null       ┆ good      ┆ 158.0  │
└─────┴───────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

#### `LIKE '%boy%'`

In [ ]:
(heroes
 .filter(pl.col('name').str.contains('boy'))
 .head(2))

shape: (2, 11)
┌─────┬───────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name      ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---       ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str       ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪═══════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 142 ┆ Bumbleboy ┆ Male   ┆ null      ┆ … ┆ Marvel Comics     ┆ null       ┆ good      ┆ null   │
│ 321 ┆ Hellboy   ┆ Male   ┆ gold      ┆ … ┆ Dark Horse Comics ┆ null       ┆ good      ┆ 158.0  │
└─────┴───────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

#### `ILIKE` using `str.to_lowercase()`

In [ ]:
(heroes
 .filter(pl.col('name').str.to_lowercase().str.contains('boy'))
 .head(3))

shape: (3, 11)
┌─────┬───────────┬────────┬───────────┬───┬───────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name      ┆ Gender ┆ Eye color ┆ … ┆ Publisher     ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---       ┆ ---    ┆ ---       ┆   ┆ ---           ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str       ┆ str    ┆ str       ┆   ┆ str           ┆ str        ┆ str       ┆ f64    │
╞═════╪═══════════╪════════╪═══════════╪═══╪═══════════════╪════════════╪═══════════╪════════╡
│ 46  ┆ Astro Boy ┆ Male   ┆ brown     ┆ … ┆ null          ┆ null       ┆ good      ┆ null   │
│ 75  ┆ Beast Boy ┆ Male   ┆ green     ┆ … ┆ DC Comics     ┆ green      ┆ good      ┆ 68.0   │
│ 142 ┆ Bumbleboy ┆ Male   ┆ null      ┆ … ┆ Marvel Comics ┆ null       ┆ good      ┆ null   │
└─────┴───────────┴────────┴───────────┴───┴───────────────┴────────────┴───────────┴────────┘

## Cry 'Havoc!,' and let slip the dogs of RegEx

Many `polars` string methods, like `contains` accept regular expressions.

In [ ]:
(heroes
 .filter(pl.col('Publisher').str.contains('DC|Marvel'))
 .filter(pl.col('name').str.contains('\s[Bb]oy|\wboy'))
 .head()
)

shape: (5, 11)
┌─────┬────────────────┬────────┬───────────┬───┬───────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name           ┆ Gender ┆ Eye color ┆ … ┆ Publisher     ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---            ┆ ---    ┆ ---       ┆   ┆ ---           ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str            ┆ str    ┆ str       ┆   ┆ str           ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════════╪════════╪═══════════╪═══╪═══════════════╪════════════╪═══════════╪════════╡
│ 75  ┆ Beast Boy      ┆ Male   ┆ green     ┆ … ┆ DC Comics     ┆ green      ┆ good      ┆ 68.0   │
│ 142 ┆ Bumbleboy      ┆ Male   ┆ null      ┆ … ┆ Marvel Comics ┆ null       ┆ good      ┆ null   │
│ 183 ┆ Colossal Boy   ┆ Male   ┆ null      ┆ … ┆ DC Comics     ┆ null       ┆ good      ┆ null   │
│ 643 ┆ Superboy       ┆ Male   ┆ blue      ┆ … ┆ DC Comics     ┆ null       ┆ good      ┆ 68.0   │
│ 644 ┆ Superboy-Prime ┆ Male   ┆ blue      ┆ … ┆ DC Comics     ┆ null       ┆ bad       ┆ 77.0   │
└─────┴────────────────┴────────┴───────────┴───┴───────────────┴────────────┴───────────┴────────┘

### Getting help on `polar` string methods.

Currently, it is difficult to find help on the various `polars` string methods.  More information can be obtains as follows.

In [4]:
dir(pl.col('species_id').str) # list all the str functions

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessor',
 '_pyexpr',
 'concat',
 'contains',
 'contains_any',
 'count_match',
 'count_matches',
 'decode',
 'encode',
 'ends_with',
 'explode',
 'extract',
 'extract_all',
 'extract_groups',
 'json_decode',
 'json_extract',
 'json_path_match',
 'len_bytes',
 'len_chars',
 'lengths',
 'ljust',
 'lstrip',
 'n_chars',
 'pad_end',
 'pad_start',
 'parse_int',
 'replace',
 'replace_all',
 'replace_many',
 'reverse',
 'rjust',
 'rstrip',
 'slice',
 'split',
 'split_exact',
 'splitn',
 'starts_with',
 'strip',
 'strip_chars',
 'strip_chars_end',
 'strip_chars_start',
 'strip_prefix',
 'strip_suffix',
 'strptime',
 'to_date',
 'to_datetime',
 'to_decimal',
 'to_integer',
 'to_lowercase',
 'to_time',
 'to_titlecase',
 'to_uppercase',
 'zfill']

In [5]:
# Get help on one of the methods.
help(pl.col('species_id').str.contains)

Help on method contains in module polars.expr.string:

contains(pattern: 'str | Expr', *, literal: 'bool' = False, strict: 'bool' = True) -> 'Expr' method of polars.expr.string.ExprStringNameSpace instance
    Check if string contains a substring that matches a regex.

    Parameters
    ----------
    pattern
        A valid regular expression pattern, compatible with the `regex crate
        <https://docs.rs/regex/latest/regex/>`_.
    literal
        Treat `pattern` as a literal string, not as a regular expression.
    strict
        Raise an error if the underlying pattern is not a valid regex,
        otherwise mask out with a null value.

    Notes
    -----
    To modify regular expression behaviour (such as case-sensitivity) with
    flags, use the inline `(?iLmsuxU)` syntax. For example:

    >>> pl.DataFrame({"s": ["AAA", "aAa", "aaa"]}).with_columns(
    ...     default_match=pl.col("s").str.contains("AA"),
    ...     insensitive_match=pl.col("s").str.contains("(?i)AA"),
    ... )
    shape: (3, 3)
    ┌─────┬───────────────┬───────────────────┐
    │ s   ┆ default_match ┆ insensitive_match │
    │ --- ┆ ---           ┆ ---               │
    │ str ┆ bool          ┆ bool              │
    ╞═════╪═══════════════╪═══════════════════╡
    │ AAA ┆ true          ┆ true              │
    │ aAa ┆ false         ┆ true              │
    │ aaa ┆ false         ┆ true              │
    └─────┴───────────────┴───────────────────┘

    See the regex crate's section on `grouping and flags
    <https://docs.rs/regex/latest/regex/#grouping-and-flags>`_ for
    additional information about the use of inline expression modifiers.

    See Also
    --------
    starts_with : Check if string values start with a substring.
    ends_with : Check if string values end with a substring.

    Examples
    --------
    >>> df = pl.DataFrame({"a": ["Crab", "cat and dog", "rab$bit", None]})
    >>> df.select(
    ...     pl.col("a"),
    ...     pl.col("a").str.contains("cat|bit").alias("regex"),
    ...     pl.col("a").str.contains("rab$", literal=True).alias("literal"),
    ... )
    shape: (4, 3)
    ┌─────────────┬───────┬─────────┐
    │ a           ┆ regex ┆ literal │
    │ ---         ┆ ---   ┆ ---     │
    │ str         ┆ bool  ┆ bool    │
    ╞═════════════╪═══════╪═════════╡
    │ Crab        ┆ false ┆ false   │
    │ cat and dog ┆ true  ┆ false   │
    │ rab$bit     ┆ true  ┆ true    │
    │ null        ┆ null  ┆ null    │
    └─────────────┴───────┴─────────┘

## Common Filter Operations -  `IN` and `NOT IN`

`SQL` has `IN` and `NOT IN`, which are used to check if a value is in/not in a collection.

### Using  `IN`/`NOT IN` in `polars`

* `polars` uses the column `pl.col('name').is_in` method
* Prepend column expression with `~` for `NOT IN`

#### `IN`

In [ ]:
(heroes
 .filter(pl.col('Publisher').is_in(['DC Comics', 'Marvel Comics']))
 .head(2))

shape: (2, 11)
┌─────┬──────────┬────────┬───────────┬───┬───────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name     ┆ Gender ┆ Eye color ┆ … ┆ Publisher     ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---      ┆ ---    ┆ ---       ┆   ┆ ---           ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str      ┆ str    ┆ str       ┆   ┆ str           ┆ str        ┆ str       ┆ f64    │
╞═════╪══════════╪════════╪═══════════╪═══╪═══════════════╪════════════╪═══════════╪════════╡
│ 0   ┆ A-Bomb   ┆ Male   ┆ yellow    ┆ … ┆ Marvel Comics ┆ null       ┆ good      ┆ 441.0  │
│ 2   ┆ Abin Sur ┆ Male   ┆ blue      ┆ … ┆ DC Comics     ┆ red        ┆ good      ┆ 90.0   │
└─────┴──────────┴────────┴───────────┴───┴───────────────┴────────────┴───────────┴────────┘

#### `NOT IN`

In [ ]:
(heroes
 .filter(~pl.col('Publisher').is_in(['DC Comics', 'Marvel Comics']))
 .head(2))

shape: (2, 11)
┌─────┬─────────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name        ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---         ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str         ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪═════════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 1   ┆ Abe Sapien  ┆ Male   ┆ blue      ┆ … ┆ Dark Horse Comics ┆ blue       ┆ good      ┆ 65.0   │
│ 6   ┆ Adam Monroe ┆ Male   ┆ blue      ┆ … ┆ NBC - Heroes      ┆ null       ┆ good      ┆ null   │
└─────┴─────────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

## <font color="red"> Exercise 6.4.2 - The Super Hero Dating Game - Part 2</font>

Yesterday, you notice another singles add in the local paper, which reads

> SBiM looking for SyFy super hero (will also consider Star Wars, Star Trek, or NBC - Heroes).  Eye color must be either blue or brown and last name must start with either B or P.

Write a query in `dfply` to help find candidates for this personal add.

In [ ]:
# Your solution here

## Common Filter Operators - IS NULL/IS NOT NULL

`SQL` has `IS NULL` and `IS NOT NULL`, which are used to check for missing values.

### Using  `IS NULL`/`IS NOT NULL` in `polars`

`polars` use the column `is_null`/`is_not_null` methods

#### `IS NULL`

In [ ]:
(heroes
 .filter(pl.col('Skin color').is_null())
 .head(2))

shape: (2, 11)
┌─────┬─────────────┬────────┬───────────┬───┬───────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name        ┆ Gender ┆ Eye color ┆ … ┆ Publisher     ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---         ┆ ---    ┆ ---       ┆   ┆ ---           ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str         ┆ str    ┆ str       ┆   ┆ str           ┆ str        ┆ str       ┆ f64    │
╞═════╪═════════════╪════════╪═══════════╪═══╪═══════════════╪════════════╪═══════════╪════════╡
│ 0   ┆ A-Bomb      ┆ Male   ┆ yellow    ┆ … ┆ Marvel Comics ┆ null       ┆ good      ┆ 441.0  │
│ 3   ┆ Abomination ┆ Male   ┆ green     ┆ … ┆ Marvel Comics ┆ null       ┆ bad       ┆ 441.0  │
└─────┴─────────────┴────────┴───────────┴───┴───────────────┴────────────┴───────────┴────────┘

#### `IS NOT NULL`  using `is_not_null`

In [ ]:
(heroes
 .filter(pl.col('Skin color').is_not_null())
 .head(2))

shape: (2, 11)
┌─────┬────────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name       ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---        ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str        ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 1   ┆ Abe Sapien ┆ Male   ┆ blue      ┆ … ┆ Dark Horse Comics ┆ blue       ┆ good      ┆ 65.0   │
│ 2   ┆ Abin Sur   ┆ Male   ┆ blue      ┆ … ┆ DC Comics         ┆ red        ┆ good      ┆ 90.0   │
└─────┴────────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

## Common Filter Operations - `AND`/ `OR`

`SQL` has `AND` and `OR`, which are used to check for missing values.

### Using  `AND`/`OR` in `polars`

 In `polars`, we use

 * The `&` operator for AND
 * the `|` operator for OR

#### `AND` using `&`

In [ ]:
(heroes
 .filter((pl.col('Hair color') == 'No Hair') & (pl.col('Eye color') == 'blue'))
 .head(2))

shape: (2, 11)
┌─────┬────────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name       ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---        ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str        ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 1   ┆ Abe Sapien ┆ Male   ┆ blue      ┆ … ┆ Dark Horse Comics ┆ blue       ┆ good      ┆ 65.0   │
│ 2   ┆ Abin Sur   ┆ Male   ┆ blue      ┆ … ┆ DC Comics         ┆ red        ┆ good      ┆ 90.0   │
└─────┴────────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

#### `AND` using multiple `filter` calls

In [ ]:
(heroes
 .filter(pl.col('Hair color') == 'No Hair')
 .filter(pl.col('Eye color') == 'blue')
 .head(2))

shape: (2, 11)
┌─────┬────────────┬────────┬───────────┬─────┬────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name       ┆ Gender ┆ Eye color ┆ ... ┆ Publisher  ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---        ┆ ---    ┆ ---       ┆     ┆ ---        ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str        ┆ str    ┆ str       ┆     ┆ str        ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════╪════════╪═══════════╪═════╪════════════╪════════════╪═══════════╪════════╡
│ 1   ┆ Abe Sapien ┆ Male   ┆ blue      ┆ ... ┆ Dark Horse ┆ blue       ┆ good      ┆ 65.0   │
│     ┆            ┆        ┆           ┆     ┆ Comics     ┆            ┆           ┆        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2   ┆ Abin Sur   ┆ Male   ┆ blue      ┆ ... ┆ DC Comics  ┆ red        ┆ good      ┆ 90.0   │
└─────┴────────────┴────────┴───────────┴─────┴────────────┴────────────┴───────────┴────────┘

#### `OR`

In [ ]:
(heroes
 .filter((pl.col('Hair color') == 'No Hair') | (pl.col('Eye color') == 'blue'))
 .head(2))

shape: (2, 11)
┌─────┬────────────┬────────┬───────────┬───┬───────────────────┬────────────┬───────────┬────────┐
│ ID  ┆ name       ┆ Gender ┆ Eye color ┆ … ┆ Publisher         ┆ Skin color ┆ Alignment ┆ Weight │
│ --- ┆ ---        ┆ ---    ┆ ---       ┆   ┆ ---               ┆ ---        ┆ ---       ┆ ---    │
│ i64 ┆ str        ┆ str    ┆ str       ┆   ┆ str               ┆ str        ┆ str       ┆ f64    │
╞═════╪════════════╪════════╪═══════════╪═══╪═══════════════════╪════════════╪═══════════╪════════╡
│ 0   ┆ A-Bomb     ┆ Male   ┆ yellow    ┆ … ┆ Marvel Comics     ┆ null       ┆ good      ┆ 441.0  │
│ 1   ┆ Abe Sapien ┆ Male   ┆ blue      ┆ … ┆ Dark Horse Comics ┆ blue       ┆ good      ┆ 65.0   │
└─────┴────────────┴────────┴───────────┴───┴───────────────────┴────────────┴───────────┴────────┘

#### Important NOTE
You need to break the Python habit of using `and` and `or` (hard to do)

In [ ]:
(heroes
 .filter((pl.col('Hair color') == 'No Hair') and (pl.col('Eye color') == 'blue'))
 .head(2))

TypeError: the truth value of an Expr is ambiguous

Hint: use '&' or '|' to logically combine Expr, not 'and'/'or', and use `x.is_in([y,z])` instead of `x in [y,z]` to check membership.

## <font color="red"> Exercise 6.4.3 - The Super Hero Dating Game - Part 3</font>

Yesterday, you notice one more singles add in the local paper, which read

> W4A (Woman for Androgynous) looking for super hero.  Must be either God/Eternal/Cosmic Entity; or have no body hair.  Bad heroes need not reply.

Write a query in all three frameworks to help find candidates for this personal add.  You should complete each query with **exactly one filter_by/where**.

In [ ]:
# Your solution here